.skeleton-key {
  width: 250px;
  .line {
    margin: 0 0 10px 0;
    .box {
      width: 25px;
      height: 25px;
      border-radius: 5px;
      margin-right: 5px;
      display: inline-block;
      vertical-align: middle;
      &.active-1 {
        background-color: $color-gold;
      }
      &.active-2 {
        background-color: orange;
      }
      &.active-3 {
        background-color: $color-red;
      }
      &.non-click {
        background-color: black;
      }
    }
  }
}
.skeleton {
	//width: 400px;
	//height: 439px;
  width: 100%;
  padding-bottom: 1463/1000*100%;
  margin-bottom: 52px;
	position: relative;
	background: {
		image: url(../images/skeleton.png);
		size: cover;
	}
	/*@media screen and (min-width: $tabwidth) {
		width: 550px;
		height: 805px;
	}
	@media screen and (min-width: $midwidth) {
		width: 850px;
		height: 1244px;
	}
	@media screen and (min-width: $deskwidth) {
		width: 1000px;
		height: 1463px;
	}*/
	.active {
		background-color: #f00;
	}
	.skeleton-submit {
		background-color: $color-red;
		padding: 20px 25px;
		box-shadow: none;
		text-transform: uppercase;
		color: #fff;
		@include transition(all ease .3s);
		border: 0;
		text-shadow: rgba(0,0,0,0);
		width: auto;
		position: absolute;
        bottom: -52px;
		right: 10px;

      @media screen and (min-width: $midwidth) {
        top: 0;
        bottom: auto;
      }
		&:hover {
			background-color: $color-blue;
			box-shadow: none;
			text-shadow: rgba(0,0,0,0);
		}
	}

}
.ra-eval {
	padding: 5%;
    .completed {
      background-color: #fff;
      padding: 10% 2%;
      border: 1px solid rgba(0,0,0,.2);
      text-align: center;
      color: $color-blue;
      h2 {
        margin: 0;
        font-size: 20px;
        line-height: 1;
        @media screen and (min-width: $tabwidth) {
          font-size: 75px;
        }
      }
      p {
        font-size: 18px;
        margin: 10px 0 30px 0;
        @media screen and (min-width: $tabwidth) {
          font-size: 35px;
        }
      }
      .button {
        width: 40%;
        margin: 0 auto;
        min-width: 200px;
        border-radius: 5px;
        background-color: $color-blue;
        a {
          display: block;
          color: white;
          text-decoration:none;
          padding: 5%;
          font-size: 18px;
          @media screen and (min-width: $tabwidth) {
            font-size: 35px;
          }
        }
      }
    }
}
.tab-content {
	background-color: #fff;
	padding: 2%;
	border: 1px solid rgba(0,0,0,.2);
}
ul.tabs {
	margin: 0;
	padding: 0;
	li {
		list-style:none;
		display:inline;
		width: auto;
	}
	a {
		padding:25px 30px;
		display:inline-block;
		background:#666;
		color:#fff;
		text-decoration:none;
	}
	a.active {
		background:#fff;
		color:$color-red;
	}
}
.ra-node {
  background-color: #ccc;
  @include transition(all ease .2s);
  position: relative;
  cursor: pointer;
  &:hover {
    background-color: #333;
  }
  &.non-click {
    background-color: black;

  }
  &.box-open {
    z-index: 2;
  }
  &.active-1 {
    background-color: $color-gold;
  }
  &.active-2 {
    background-color: orange;
  }
  &.active-3 {
    background-color: $color-red;
  }
  .ra-selector-box {
    position: absolute;
    top: 0;
    left: -75px;
    width: 150px;
    z-index: 5;
    @media screen and (min-width: $midwidth) {
      left: -250px;
      width: 250px;
    }
    .box {
      margin-bottom: 10px;
      color: white;
      text-align: center;
      border-radius: 5px;
      padding: 5px;
      transform: scale(.95);
      @include transition(all ease .1s);
      &:hover {
        transform: scale(1);
      }
    }
    .active-1 {
      background-color: $color-gold;
    }
    .active-2 {
      background-color: orange;
    }
    .active-3 {
      background-color: $color-red;
    }
    .inactive {
      background-color: #ccc;
    }
  }
}

.dot-small {

    width: 1.5em;
    height: 1.5em;
    @media screen and (min-width: $tabwidth) {
      width: 2em;
      height: 2em;
    }
    @media screen and (min-width: $deskwidth) {
      width: 2.5em;
      height: 2.5em;
    }
  @media screen and (min-width: $widewidth) {
    width: 3.5em;
    height: 3.5em;
  }
}
.dot-med {

    width: 1.5em;
    height: 1.5em;
    @media screen and (min-width: $tabwidth) {
      width: 2em;
      height: 2em;
    }
    @media screen and (min-width: $midwidth) {
      width: 2.5em;
      height: 2.5em;
    }
    @media screen and (min-width: $deskwidth) {
      width: 4em;
      height: 4em;
    }
  @media screen and (min-width: $widewidth) {
    width: 5em;
    height: 5em;
  }
}
.dot-large {
   width: 1.5em;
    height: 1.5em;
    @media screen and (min-width: $tabwidth) {
    	width: 2em;
    	height: 2em;
    }
    @media screen and (min-width: $midwidth) {
    	width: 3em;
    	height: 3em;
    }
    @media screen and (min-width: $deskwidth) {
    	width: 5em;
    	height: 5em;
    }
  @media screen and (min-width: $widewidth) {
    width: 6em;
    height: 6em;
  }
}
.dot-small, .dot-med, .dot-large {
	// transform: scale(.9);
  // border: #ccc solid 1px;
	@include transition(all ease .2s);
  cursor: pointer;
	&:hover {
		// transform: scale(1);
    // border: $color-blue solid 1px;
	}
}
.middle-1 {
	position: absolute;
  	border-radius: 50%;
  	left: 47.3%;
  	top: 14%;
}
.post-type-evaluation #minor-publishing{
  display: none;
}

@import "body-left";
@import "body-right";

